:root { --gap: 10px; --header-h: 70px; }

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: initial;           
  box-sizing: border-box;
}


.grid-container{
  display: grid;
  grid-template-columns: minmax(175px, 1fr);
  grid-template-rows: auto var(--gap) 1fr;   
  gap: 0;                                    
  min-height: 100vh;
  padding-inline: 16px;                        
}

.headerDash{
  position: sticky;
  top: var(--gap);
  height: var(--header-h);
  z-index: 10;

  background-color: #497593;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.headerDash h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 35px;
  font-weight: 700;
}

.header-cell{
  grid-column: 1 / 3;
  grid-row: 1;
}

.header{
  position: sticky;
  top: var(--gap);
  height: var(--header-h);
  z-index: 10;
  min-width: 700px;

  background-color: #504358;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.header h2{
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.spacer {
  grid-column: 1 / 3;
  grid-row: 2;
}

.sidebar {
  grid-column: 1;
  grid-row: 3;
  background-color: #56402a;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left; 
  margin-right: 4px;
  line-height: 1.6;
}

.main-content {
  grid-column: 2;
  grid-row: 3;
  background-color: #1a3746;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  margin-left: 4px;
}

.button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;              
}
.button:hover { background-color: #6f8b93; }

.button-grid {
  display: flex;
  flex-wrap: wrap;            
  gap: 10px;                  
  justify-content: center;    
}

.button-grid button {
  flex: 1 1 200px;            
  min-width: 150px;           
  max-width: 250px;           
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.button-grid button:hover {
  background-color: #6f8b93;
  transform: translateY(-1px);
}